
//Homepage styles

.home-bg-split-left {
	background-color: #F4494B;
	height: 100vh;

}

.home-bg-split-right {
	background-color: #fff;
}

.flex {
	display: flex;
	align-items: center;
}

.bg-primary {
	background-color: #F4494B !important;
	color: #fff !important;
}

.home-text-right {
	font-size: 24px;
	margin: 15px;
}

.home-text-left {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	margin-left: 10px;
}

.home-icons {
	font-size: 28px;
	color: #fff;
	margin: 8px;
}

.join {
	font-size: 20px;
	
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Register Form Styles


.register-login-text {
	font-size: 14px;
	margin-left: 10px;
	justify-content: flex-end;
}

.register-login-text p {
	margin-left: 10px;
}


//Landing Styles

.logo-name {
	font-size: 28px;
	font-weight: bold;
	margin-left: 10px;
	color: #fff;
}

//Organization List Styles

.org-list-container {
	padding: 10px;
	h3 {
		font-size: 16px;
		font-weight: bold;
	}

	.icard {
		width: 100px;
		margin-top: 20px;
		
		.icard-image {
			.fa-users {
				font-size: 20px;
			}
			div {
				margin-left: 5px;
			}
		}
	}

}

//Org Details page
.notification-text {
	color: #F4494B;
	margin-left: 10px;
}

.org-details {
	h3 {
		padding: 10px;
	}
}

.org-details-sub-container {
	span {
		padding: 10px;
	}

	.org-text-label {
		color: rgb(184, 182, 182);
	}

	.org-text-data {
		margin-left: 10px;
	}
}

.teammates-list-heading {
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}

.org-details-heading {
	font-size: 16px;
	font-weight: bold;
}

//Teammate page Styles

.teammate-page-left {
	margin: 10px;
}

//nav bar styles

.navbar {
	// vertical-align: baseline !important;
	background-color: #F4494B !important;

	.nav-username {
		color: #fff;
		margin: 10px;
	}

	.nav-posts {
		margin: 10px;
	}
}



.log-out-button {
	margin: 5px;
}

//Post Component Styles

body {
	background-color: #e6ecf0;
}

.post-inputs {
	textarea {
		width: 100%;
		height: 60px;
	}
}

.post {
	background-color: #fff;
	border-bottom: 0.5px solid lightgray;
	padding: 5px 8px;

	.post-time {
		display: flex;
		justify-content: flex-end;
		color: rgb(180, 183, 184);
		font-size: 12px;

		p {
			margin: 2px;
		}
	}

	
}





//footer styles

.footer-custom {
	position: fixed;
	width: 100%;
	bottom: 0;
	border-top: 0.5px solid #F4494B;
	padding: 10px;
	background-color: #fff;
	
	
	.social-links {
		display: flex;
		justify-content: center;

		a {
			text-decoration: none;
			font-size: 18px;
			margin: 10px;
			color: #F4494B;
		}
	}
}