body {
	background-color: #e6ecf0;
}

//Homepage styles

.home-bg-split-left {
	background-color: #F4494B;
	height: 100vh;

}

.home-bg-split-right {
	background-color: #fff;
}

.flex {
	display: flex;
	align-items: center;
}

.bg-primary {
	background-color: #F4494B !important;
	color: #fff !important;
}

.home-text-right {
	font-size: 30px;
	margin-bottom: 25px;
}

.home-text-left {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	margin: 25px;
}

.home-icons {
	font-size: 28px;
	color: #fff;
}

.join {
	font-size: 20px;
	
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Register Form Styles

.register-login-text {
	font-size: 14px;
	margin-left: 10px;
	justify-content: flex-end;
}

.register-login-text p {
	margin-left: 10px;
}

//Navbar Logo Styles
.logo-name {
	font-size: 28px;
	font-weight: bold;
	margin-left: 10px;
	color: #fff;
}


//Landing Styles

.landing-container {
	background-color: #e6ecf0;
	max-width: 900px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 100px;
	
	
	
	.landing-form {
		max-width: 400px;
		width: 80%;
		display: grid;
		place-content: center;
		padding: 25px;
		border: 1px solid;
		background-color: #fff;

		.form-container {
			max-width: 300px;
			width: 100%;
		}
	}
}

//Organization List Styles

.organization-list {
	background-color: #fff;
	max-width: 300px;
	width: 80%;
	

}

.org-list-container {
	padding: 10px;

	h3 {
		font-size: 16px;
		font-weight: bold;
	}

	.icard {
		width: 100px;
		margin-top: 20px;
		
		.icard-image {
			
			.fa-users {
				font-size: 20px;
			}
			div {
				margin-left: 5px;
			}
		}
	}

}

//Org Details page
.notification-text {
	background-color: #fff;
	color: #F4494B;
	text-align: center;
}

.org-details-wrapper {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid;
	padding: 10px;
}

.org-details-section {
	display: grid;
	grid-template-columns: 300px auto;
	grid-column-gap: 10px;
	background-color: #e6ecf0;
	align-items: start;
}

.org-details {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
	
	
	.org-details-sub-container {
		padding: 10px;
		background-color: #fff;
		.org-name {
			font-size: 24px;
			font-weight: bold;
		}
		.org-text-label {
			color: rgb(187, 184, 184);
			margin-right: 10px;
		}
	}
	
}
.org-details-heading {
	font-size: 16px;
	font-weight: bold;
}


//Teammate page Styles

.teammate-list-container {
	
}
.teammates-list-heading {
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}

.teammate-page-left {
	margin: 10px;
}

//nav bar styles
.navbar {
	// vertical-align: baseline !important;
	background-color: #F4494B !important;

	.nav-username {
		color: #fff;
		margin: 14px;
	}

	.nav-posts {
		margin: 10px;
	}
}

.log-out-button {
	margin: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 22px;
}

.log-out-button:hover {
	text-decoration: none;
	color: #fff;
}

//Post Component Styles

.feed-container {
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 3px;

	.post-inputs {
		width: 100%;
		padding: 10px 30px 10px 30px;;
		background-color: #FFF0E8;
		
		.post-input-box {
			background-color: #fff;
			border: 1px solid #FFD9C7;
			border-radius: 10px;
			padding: 0;
			position: relative;

			small {
				font-size: 12px;
				color: rgb(141, 141, 141);
				position: absolute;
				bottom: 0;
				right: 5px;
			}
	
			textarea {
				border-radius: 10px;
				font-size: 16px;
				width: 100%;
				resize: none;
				outline: none;
				border: none;
				padding: 5px;
			}
		}
		
	}

	.input-radio-buttons {
		background-color: #FFF0E8;
		padding: 5px 30px 5px 20px;
		text-align: center;
		display: flex;
		justify-content: space-between;

		span {

			margin: 10px;
			input {
				margin: 5px;
			}
		}
	}
}

//footer styles

.footer-custom {
	position: fixed;
	width: 100%;
	bottom: 0;
	border-top: 0.5px solid #F4494B;
	padding: 10px;
	background-color: #fff;
	
	
	.social-links {
		display: flex;
		justify-content: center;

		a {
			text-decoration: none;
			font-size: 18px;
			margin: 10px;
			color: #F4494B;
		}
	}
}

// Org Feed Styles

.org-feed-section {
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 1px;

	.org-feed-posts {
		padding: 10px;
		background-color: #fff;
		
		.post-container {
			padding: 10px;
			
			.post {
			// sdlkjsljsf
				.post-head {
					display: flex;
					justify-content: space-between;

					span {
						display: flex;
						
					}

					.fa-user-circle {
						font-size: 40px;
						color: lightgray;
						
					}
					.post-username {
						margin-left: 10px;
						text-transform: capitalize;
						font-weight: bold;
					}
					.post-time {
						display: flex;
						justify-content: flex-end;

						p {
							margin-left: 5px;
							font-size: 14px;
						}
					}
				}
				.post-text {
					font-size: 14px;
					
					padding-left: 45px;
					color: #14171a;

					.post-text-one {
						
					}

					a {
						margin-left: 10px;
						font-size: 14px;
					}
				}
			}
		}
	}
}